In [1]:
import pandas as pd
import json
import datetime
from config import args

In [2]:
Countname = pd.read_csv('./data/global_data_0323/Country.csv')

In [3]:
Countname.head(5)

   Unnamed: 0   name      name_en ISO3166_1_2 STANAG_1059  CID      capital
0           0    阿鲁巴        Aruba          AW         ABW    0        Aruba
1           1    阿富汗  Afghanistan          AF         AFG    1  Afghanistan
2           2    安哥拉       Angola          AO         AGO    2       Angola
3           3    安圭拉     Anguilla          AI         AIA    3     Anguilla
4           4  阿尔巴尼亚      Albania          AL         ALB    4      Albania

In [4]:
pathdata = '0326'
filedata = '3.26'
Days = 66
path = './data/global_data_'+pathdata+'/'
filename = 'global_data_confirmed_'+filedata+'.xlsx'
tmpXslxConf = pd.read_excel(path + filename)
filename = 'global_data_death_'+filedata+'.xlsx'
tmpXslxDeath = pd.read_excel(path + filename)
filename = 'global_data_recovered_'+filedata+'.xlsx'
tmpXslxRecr = pd.read_excel(path + filename)
patC_en = {}
patD_en = {}
patR_en = {}
for i in range(args.countryNumber):
    if args.transDict.get(i, -1) >= 0:
        patC_en[args.countryName_en[i]] = [0] + list(tmpXslxConf[tmpXslxConf.columns[1:]].iloc[args.transDict[i]])
        patD_en[args.countryName_en[i]] = [0] + list(tmpXslxDeath[tmpXslxDeath.columns[1:]].iloc[args.transDict[i]])
        patR_en[args.countryName_en[i]] = [0] + list(tmpXslxRecr[tmpXslxRecr.columns[1:]].iloc[args.transDict[i]])
    else:
        patC_en[args.countryName_en[i]] = [0]*(Days+1)
        patD_en[args.countryName_en[i]] = [0]*(Days+1)
        patR_en[args.countryName_en[i]] = [0]*(Days+1)
# tmpDF = pd.DataFrame(pat_en).T

In [5]:
args.transDict.get(41, -1)

176

In [7]:
tmpXslxConf.iloc[176]

Total confirmed cases    China
1.21                         0
1.22                       549
1.23                       644
1.24                       923
                         ...
3.22                     81604
3.23                     81693
3.24                     81806
3.25                     81896
3.26                     82034
Name: 176, Length: 67, dtype: object

In [10]:
print(args.DatabaseName)

['date', 'country', 'province', 'prov_longitude', 'prov_latitude', 'death_cases', 'confirmed_cases', 'heal_cases', 'days', 'cumulative_confirmed_cases', 'cumulative_death_cases', 'cumulative_heal_cases']

In [14]:
DictDF = {na:[] for na in args.DatabaseName}
for name in list(patC_en.keys()):
    for i in range(len(patC_en[name])-1):
        a = datetime.date(2020,1,21)+datetime.timedelta(days=i)
        DictDF[args.DatabaseName[0]].append(a.isoformat())
        DictDF[args.DatabaseName[1]].append(name)
        DictDF[args.DatabaseName[2]].append(Countname.capital[args.countryName_en.index(name)])
        # 经纬度
        DictDF[args.DatabaseName[3]].append(args.centerDict[args.countryName_en.index(name)]['lon'])
        DictDF[args.DatabaseName[4]].append(args.centerDict[args.countryName_en.index(name)]['lat'])
        # 病人情况 D, C, R
        DictDF[args.DatabaseName[5]].append(patD_en[name][i+1] - patD_en[name][i])
        DictDF[args.DatabaseName[6]].append(patC_en[name][i+1] - patC_en[name][i])
        DictDF[args.DatabaseName[7]].append(patR_en[name][i+1] - patR_en[name][i])
        # 其他
        DictDF[args.DatabaseName[8]].append(i)
        # 病人情况 C, D, R
        DictDF[args.DatabaseName[9]].append(patC_en[name][i+1])
        DictDF[args.DatabaseName[10]].append(patD_en[name][i+1])
        DictDF[args.DatabaseName[11]].append(patR_en[name][i+1])
        
        
a = pd.DataFrame(DictDF)
a['is_delete'] = [0]*len(a)

In [16]:
a.head(10)

,date,country,province,prov_longitude,prov_latitude,death_cases,confirmed_cases,heal_cases,days,cumulative_confirmed_cases,cumulative_death_cases,cumulative_heal_cases,is_delete
0,2020-01-21,Aruba,Aruba,-69.968338,12.5211,0,0,0,0,0,0,0,0
1,2020-01-22,Aruba,Aruba,-69.968338,12.5211,0,0,0,1,0,0,0,0
2,2020-01-23,Aruba,Aruba,-69.968338,12.5211,0,0,0,2,0,0,0,0
3,2020-01-24,Aruba,Aruba,-69.968338,12.5211,0,0,0,3,0,0,0,0
4,2020-01-25,Aruba,Aruba,-69.968338,12.5211,0,0,0,4,0,0,0,0
5,2020-01-26,Aruba,Aruba,-69.968338,12.5211,0,0,0,5,0,0,0,0
6,2020-01-27,Aruba,Aruba,-69.968338,12.5211,0,0,0,6,0,0,0,0
7,2020-01-28,Aruba,Aruba,-69.968338,12.5211,0,0,0,7,0,0,0,0
8,2020-01-29,Aruba,Aruba,-69.968338,12.5211,0,0,0,8,0,0,0,0
9,2020-01-30,Aruba,Aruba,-69.968338,12.5211,0,0,0,9,0,0,0,0

In [17]:
a.to_csv('./GlobalImport.csv')